@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background-color: #000000;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 81.25;
}

.introtekst {
    color: rgb(134, 188, 36);
    font-size: 65px;
}
.introtekst-mindre {
    font-size: 20px;
    font-weight: 900;
    margin-top: 100px;
    
}

.hero {
    display: block;
    margin: 0px auto;
    height: 95vh;
}
.deloitteLogo{
    position: absolute;
    padding: 50px;
    top: 0px;
    height: 50px;
}