@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background-color: #000000;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 81.25;
}

.introtekst {
    color: rgb(134, 188, 36);
    font-size: 65px;
    margin-left: 75px;
}